$col-primary: #8BC34A;
$col-primary-fg: white;
$col-bg-dark: #3b4138;
$col-bg-dark-fg: white;
$col-bg-light: white;
$col-bg-light-fg: #333;

$font-primary: Roboto, sans-serif;
$font-weight-normal: 400;
$font-weight-bold: 700;
$font-size-base: 14px;
$font-size-medium: $font-size-base * 1.4;

$margin: 24px;
