@import '../_variables';
@import '../_mixins';

.section {
	@include card();
	@extend %clearfix;
}

$title-height: $font-size-medium * 2;

.section-title {
	margin-bottom: 0.2em;
	font-size: $font-size-medium;
	font-weight: $font-weight-normal;
	border: none;

	// Show/hide toggle
	small {
		float: right;
		padding-top: 0.25em;
		font-size: 0.75em;

		a {
			color: $col-bg-light-fg;
		}
	}
}

.section .section-title {
	margin-bottom: 1em;
	margin-top: 0;
}
